@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

body {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: white;
  background: black;
  user-select: none;
}

.logo {
  max-width: 189px;
}

.fiter {
  filter: drop-shadow(18px 20px 0px #3E3E3E);
}

.Contact_information {
  background: url('./../image/Group\ 10.png');
}

.contacts {
  background: url('./../image/Mask\ group.png');
}

.parent2 {
  position: relative;

}

.child2 {
  position: absolute;
  left: 229px;
  bottom: -270px;
}

.parent1 {
  position: relative;
}

.child1 {
  position: absolute;
  background: transparent;
  right: 228px;
  left: 180px;
  z-index: 2;
}

.input_bg {
  border: 1px solid white;
  border-radius: 3px;
  background: transparent;
  padding-left: 10px;
  padding-right: 300px;
  margin-bottom: 28px;
}

.bg-submit{
  padding: 10px 231px;
  align-items: center;
}


@media only screen and (max-width: 667px) {
  body {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 11px;
    color: white;
    background: black;
    user-select: none;
  }

  .logo {
    max-width: 12%;
  }

  .side2 {
    padding: 10px;
  }

  .side3 {
    padding: 10px;
  }

  .text_title {
    font-size: 24px;
  }

  .text_title2 {
    top: 23px;
    right: 120px;
    font-size: 24px;
  }

  .fiter {
    filter: drop-shadow(9px 7px 0px #3E3E3E);
    font-size: 24px;
  }

  .parent2 {
    position: relative;

  }

  .side3 {
    padding: 10px;
  }

  svg {
    width: 11px;
    height: 11px;
  }

  .child2 {
    padding-top: 20px;
    position: absolute;
    left: 55px;
    bottom: -120px;
    width: 300px;
    height: 300px;
  }

  .text_backgroup2 {
    display: none;
  }

  .parent1 {
    position: relative;
  }

  .text_backgroup {
    font-size: 48px;
  }

  .contacts {
    width: 361px;    
    height: 700px;
    top: 100px;
    padding-top: 30px;
    margin-bottom: 100px;
  }
  .from_contact{
    padding: 0;
    margin: 0;
  }
  .contact_all {
    padding: 10px;
    flex-wrap: wrap
  }

  .child1 {
    position: absolute;
    background: transparent;
    right: 18px;
    left: 18px;
    z-index: 2;
  }
  .form_contact{
    margin-left: 20px;
  }
  .input_bg {
    border: 1px solid white;
    border-radius: 3px;
    background: transparent;
    padding-left: 10px;
    padding-right: 185px;
    margin-bottom: 28px;
  }
  .bg-submit{
    padding: 10px 142px;
  }
  //// footer
  .nav_contact{
    padding: 0 40px;
  }
  .Contact_information img{
    display: none;
  }
}



@media (min-width: 768px) {}

;

@media (min-width: 1024px) {}

;

@media (min-width: 1280px) {}

;

@media (min-width: 1536px) {}

;